<%- include('./partials/top.ejs') %>
    <h1>HOME PAGE</h1>
    <div class="d-flex flex-column align-items-center border rounded-2 p-5 mt-5">
        
        <p>Click to <a href="/register">Register</a>!</p>
        <p>Already have an account? Click <a href="/login">here</a> to Login!</p>

    </div>


<%- include('./partials/bottom.ejs') %>
